.container
{
    margin:auto;
    background-color:  aquamarine;
    align-content: center;
    text-align: center;
    padding: 2%;
}
.form-group
{
    margin-left:auto;
    margin-right: auto;
}
.form-control:hover
{
    background-color: rgba(0, 0, 0, 0.739);
    color: white;
}
.jumbotron
{
    margin-top:2%;
    margin-bottom:2%;
    background-color: lightsteelblue;
    content:"\f023";
}
#hea
{
    font-size: 4em;
}
#mybutton:before,
#mybutton:after { 
	font-size: 2em !important;
	line-height: 1.3em !important;
}
#mybutton:hover { 
    padding: 1.5em !important;
    text-align: center;
}
#spcon
{
    font-size: 1.5em;
}

