.container
{
    margin:auto;
    background-color:  aquamarine;
    align-content: center;
    text-align: center;
    padding: 2%;
}
.form-group
{
    margin-left:auto;
    margin-right: auto;
}
.form-control:hover
{
    background-color: rgba(3, 0, 0, 0.739);
    color: white;
}
.jumbotron
{
    margin-top:2%;
    margin-bottom:2%;
    background-color: rgba(144, 189, 247, 0.434);
    content:"\f023";
}
#hea
{
    font-size: 4em;
}
#mybutton:before,
#mybutton:after { 
	font-size: 2em !important;
	line-height: 1.3em !important;
}
#mybutton:hover { 
    padding: 1.5em !important;
    text-align: center;
}
#spcon
{
    font-size: 1.5em;
}
#hjk
{
    font-size: 3.5em;
    color: rgb(0, 4, 255);
    margin-bottom: 1em;
}
.libs
{
    font-size: 2.5em;
}
input[type="checkbox"]{
    width: 30px; 
    height: 30px; 
  }
  input[type="submit"]{
    width: 15em; 
    height: 4em; 
    margin: 2em;
    background-color: black;
    color: white;
    font-weight: bold;
  }
  input[type="submit"]:hover
  {
    width: 20em; 
    height: 4em; 
    margin: 2em;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding:0;
  }
  body {
    background: url("https://images.unsplash.com/photo-1501163268664-3fdf329d019f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
   }


